<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
      }

      main {
        margin: 20px 0;
      }

      .container {
        width: 80%; /* Adjusted width for better mobile responsiveness */
        margin: 0 auto;
        border: 8px solid #ff6464;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        background-color: #ffffff;
      }

      h1 {
        font-family: "Handwriting";
        color: #8c8c8c;
        font-size: 60px; /* Adjusted font size for better mobile responsiveness */
        margin-top: 0;
      }

      p {
        margin-top: 20px;
        text-align: center;
        font-size: 14px; /* Adjusted font size for better mobile responsiveness */
        color: #000000;
      }

      button {
        margin-top: 20px;
        font-size: 20px; /* Adjusted font size for better mobile responsiveness */
        color: #ffffff;
        background-color: #8c8c8c;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      /* Media Query for Mobile Devices */
      @media only screen and (max-width: 600px) {
        .container {
          width: 80%;
        }

        h1 {
          font-size: 40px;
        }

        p {
          font-size: 12px;
        }

        button {
          font-size: 16px;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <div class="container">
        <h1>Thank You</h1>
        <p>
          Dear <strong><%= userName %></strong>,
          Your order has been successfully placed. <br />
          Your order ID is <strong><%= orderId %></strong>, and it was placed
          on <strong><%= orderDate %></strong>.<br />
          We will begin processing your order. Feel free to explore our
          popular items – we offer over 70 of the best gift & home décor
          vendors.
        </p>
        <button>View Order Details</button>
      </div>
    </main>
  </body>
</html>
